html, body {
  font-size: 16px;
  color: #000;
  font-family: livvic, sans-serif;
  vertical-align: baseline;
  background-color: #f6f7f9;
  line-height: 26px;
  font-weight: 400;
  overflow-x: hidden;
  scroll-padding-top: 70px;
}